[build]
  publish = "build/web"
  command = """
git clone https://github.com/flutter/flutter.git -b 3.32.8 --depth 1
export PATH="$(pwd)/flutter/bin:$PATH"
flutter config --enable-web
flutter pub get
flutter build web --dart-define=SUPABASE_URL=$SUPABASE_URL --dart-define=SUPABASE_ANON_KEY=$SUPABASE_ANON_KEY --release 2>&1
"""

[build.environment]
  SECRETS_SCAN_OMIT_PATHS = ".dart_tool/**,build/**"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
